<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <title>Error 405 - Method Not Allowed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='error_pages/error_pages.css') }}">

<body>
<div class="container">
    <div class="github-link">
        <a href="https://github.com/koloideal/Findly" target="_blank">
            <img src="{{ url_for('static', filename='error_pages/github_icon.png') }}" alt="GitHub">
        </a>
    </div>
    <h1>405</h1>
    <br><br><br>
    <p id="title">Method Not Allowed</p>
    <p id="description">Request method not allowed</p>
    <a href="/" class="button">Go to Homepage</a>
</div>
</body>
</html>
